    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">化验数据</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/sheet_upload/">上传化验单 <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/list_upload_dirs/">解析化验数据</a>
          <a class="nav-item nav-link" href="/patient_list/">病人列表</a>
          <a class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </nav>