{% extends "bootstrap_ui/bootstrap4-skeleton.html" %}
{% block head-title %}
    {{show_title}}
{% endblock %}
{% block head-javascript %}
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
{% endblock %}
{% block body-content %}
  <div class="container">
  {% include "test_sheet/med_nav.html" %}
  <h1>{{username}} 的化验图表</h1>
  <input type="hidden" name="" id="patient_name" value="{{username}}">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="plateSelect">检查板块</label>
        <select class="form-control" id="plateSelect">
          <option value="">请选择</option>
          {% for investigatePlate in investigatePlates %}
            <option value="{{ investigatePlate.id }}">{{ investigatePlate.plate_title }}</option> | 
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="projectSelect">检查项目</label>
        <select class="form-control" id="projectSelect">
          <option value="">请选择</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="indicatorSelect">检查指标</label>
        <select class="form-control" id="indicatorSelect">
          <option value="">请选择</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group ">
        <label for="itemSelect">检查项</label>
        <select class="form-control hidden" id="itemSelect">
          <option value="">请选择</option>
        </select>
      </div>
    </div>
  </div>

    <canvas id="chart1"></canvas>
    <div id="graph-container2"><canvas id="chart2" class="other-graph"></canvas></div>
    <div id="graph-container3"><canvas id="chart3" class="other-graph"></canvas></div>
    <div id="graph-container4"><canvas id="chart4" class="other-graph"></canvas></div>
    <div id="graph-container5"><canvas id="chart5" class="other-graph"></canvas></div>
    <div id="graph-container6"><canvas id="chart6" class="other-graph"></canvas></div>
    <div id="graph-container7"><canvas id="chart7" class="other-graph"></canvas></div>
    <div id="graph-container8"><canvas id="chart8" class="other-graph"></canvas></div>

  </div>

{% endblock %}

{% block body-javascript %}
  <script type="text/javascript">
  $(document).ready(function() {
    $("#plateSelect").on("change", function(e) {
      if (0 != $(this).val()){
        var endpoint = '/get_investigate_project_data/' + $(this).val();
        $.ajax({
          method: 'GET',
          url: endpoint,
          data: {plate_id: $(this).val()},
          success: function(data){
              console.log(data);
              $("#projectSelect").html(data);
              // setChart();
          },
          error: function(error_data){
            console.log('error'); 
          }
        }) 
      }
    });


    $(document)
      .on('change', '#projectSelect', function (e) {
        e.preventDefault();
        if (0 != $(this).val()){
          var endpoint = '/get_investigate_indicator_data/' + $(this).val();
          $.ajax({
            method: 'GET',
            url: endpoint,
            data: {plate_id: $(this).val()},
            success: function(data){
                // console.log(data);
                $("#indicatorSelect").html(data);
                // setChart();
            },
            error: function(error_data){
              console.log('error'); 
            }
          }) 
        }
      })
      .on('change', '#indicatorSelect', function (e) {
        e.preventDefault();
        if (0 != $(this).val()){
          var endpoint = '/get_investigate_item_data/' + $(this).val();
          $.ajax({
            method: 'GET',
            url: endpoint,
            data: {plate_id: $(this).val()},
            success: function(data){
                // console.log(data);
                $("#itemSelect").html(data);
                // setChart();
            },
            error: function(error_data){
              console.log('error'); 
            }
          });

          var endpoint = '/items_chart/' + $("#patient_name").val() + "/" + $(this).val();
          $.ajax({
            method: 'GET',
            url: endpoint,
            data: {plate_id: $(this).val()},
            success: function(data){
                clearOtherChart();
                for(item in data) {
                  setChart("chart"+(parseInt(item)+1), data[item].labels, data[item].data, data[item].title, data[item].refer_value);
                }
                // setChart(data.labels, data.data, data.title, data.refer_value);
            },
            error: function(error_data){
              console.log('error'); 
            }
          }) 
        }
      })
      .on('change', '#itemSelect', function (e) {
        e.preventDefault();
        if (0 != $(this).val()){
          var endpoint = '/item_chart/' + $("#patient_name").val() + "/" + $(this).val();
          $.ajax({
            method: 'GET',
            url: endpoint,
            data: {plate_id: $(this).val()},
            success: function(data){
                // console.log(data);
                clearOtherChart();
                setChart("chart1", data.labels, data.data, data.title, data.refer_value);
            },
            error: function(error_data){
              console.log('error'); 
            }
          }) 
        }
      });
  });

  function clearOtherChart() {
    $('.other-graph').remove(); // this is my <canvas> element
    $('#graph-container2').append('<canvas id="chart2" class="other-graph"><canvas>');
    $('#graph-container3').append('<canvas id="chart3" class="other-graph"><canvas>');
    $('#graph-container4').append('<canvas id="chart4" class="other-graph"><canvas>');
    $('#graph-container5').append('<canvas id="chart5" class="other-graph"><canvas>');
    $('#graph-container6').append('<canvas id="chart6" class="other-graph"><canvas>');
    $('#graph-container7').append('<canvas id="chart7" class="other-graph"><canvas>');
    $('#graph-container8').append('<canvas id="chart8" class="other-graph"><canvas>');
  }

  function setChart(chartName, labels, defaultData, title, refer_value){
    var ctx = document.getElementById(chartName).getContext("2d");
    this["chartObj2"] = new Chart(ctx, {
      type: 'line',
      height: 400,
      data: {
            labels: labels, // 這裡
            datasets: [{
                label: title,
                fill: false,
                data: defaultData, // 和這裡
                backgroundColor: "black",
                borderColor: "black",
                borderWidth: 1
            }]},
      options: {
        annotation: {
          annotations: [
            {
              type: "line",
              mode: "horizontal",
              scaleID: "y-axis-0",
              value: refer_value[0],
              borderColor: "blue",
              label: {
                // content: "起",
                // enabled: true,
                // position: "center"
              }
            },
            {
              type: "line",
              mode: "horizontal",
              scaleID: "y-axis-0",
              value: refer_value[1],
              borderColor: "red",
              label: {
                // content: "止",
                // enabled: true,
                // position: "center"
              }
            }
          ]
        },
        responsive: true,
          scales: {
              yAxes: [{
                  ticks: {
                    // suggestedmin: parseInt(refer_value[0]) - 10,
                    // suggestedmax: parseInt(refer_value[1]) + 10,
                    beginAtZero: true,
                    stepSize: 1,
                  }
              }]
          }
      }
  });

}
  </script>
{% endblock %}