{% extends "./bootstrap4-skeleton.html" %}
{% block head-title %}
    {{show_title}}
{% endblock %}
{% block head-javascript %}
  <!-- <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> -->
{% endblock %}
{% block body-content %}
  <div class="container">
  {% include "test_sheet/med_nav.html" %}
  <h1>This is the patient list.</h1>
  {% csrf_token %}
  
  </div>

{% endblock %}

{% block body-javascript %}
  <script type="text/javascript">
  $(document).ready(function() {
    $(".list-group-item").on("click", function(e) {
      window.location.href = '/patient_info/' + $(this).val(); 
      // alert($(this).val());
    })
  });
  </script>
{% endblock %}